{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'transaction_list' %}">Transactions</a></li>
<li class="breadcrumb-item active">Add New Transaction</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container-fluid">
  <div class="animated fade-in">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h2>Add New Transaction</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          <!-- Transaction ID -->
          <div class="form-group">
            <label for="id_unique_id">Transaction ID:</label>
            {{ form.unique_id }}
          </div>

          <!-- Date -->
          <div class="form-group">
            <label for="id_date">Date:</label>
            {{ form.date }}
          </div>

          <!-- Debtor -->
          <div class="form-group">
            <label for="id_debtor">Debtor:</label>
            {{ form.debtor }}
          </div>

          <!-- Amount -->
          <div class="form-group">
            <label for="id_amount">Amount:</label>
            {{ form.amount }}
          </div>

          <!-- Currency -->
          <div class="form-group">
            <label for="id_currency">Currency:</label>
            {{ form.currency }}
          </div>

          <!-- Exchange Rate -->
          <div class="form-group">
            <label for="id_exchange_rate">Exchange Rate:</label>
            {{ form.exchange_rate }}
          </div>

          <!-- Receipts Upload -->
          <div class="form-group">
            <label for="id_receipts">Upload Receipts:</label>
            {{ form.receipts }}
          </div>

          <!-- Description -->
          <div class="form-group">
            <label for="id_description">Description:</label>
            {{ form.description }}
          </div>

          <!-- Additional Notes -->
          <div class="form-group">
            <label for="id_additional_notes">Additional Notes:</label>
            {{ form.additional_notes }}
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
