{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>UIG MARS</title>

   
    <!-- Main styles for this application -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"/>
    <!-- favicon Icons -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/uig-logo-bg.png' %}"
    />
    <!-- FontAwesome JavaScript -->
    <script
    src="https://kit.fontawesome.com/9c2a40def3.js"
    crossorigin="anonymous"
    ></script>

    <!-- Link Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>
<body>

  <div class="wrapper">
    <aside id="sidebar" class="js-sidebar">
      <!-- Content For Sidebar -->
      <div class="h-100">
        <div class="sidebar-logo">
         <center> <a href="#">UIG</a></center>
        </div>
        <ul class="sidebar-nav">
          <li class="sidebar-header">Admin Panel</li>
          <li class="sidebar-item">
            <a href="{% url 'dashboard' %}" class="sidebar-link">
              <i class="fa-solid fa-list pe-2"></i>
              Dashboard
            </a>
          </li>
          <li class="sidebar-item">
            <a
              href="#l"
              class="sidebar-link collapsed"
              data-bs-target="#pages"
              data-bs-toggle="collapse"
              aria-expanded="false"
              ><i class="fa-solid fa-user pe-2"></i>
              Debtors
            </a>
            <ul
              id="pages"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="{% url 'debtor_detail' %}" class="sidebar-link">Debtor Details</a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'debtor_list' %}" class="sidebar-link">Debtor List</a>
              </li>
            </ul>
          </li>
          <li  class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed"
              data-bs-target="#payment"
              data-bs-toggle="collapse"
              aria-expanded="false"
              ><i class="fa-solid fa-dollar-sign pe-2"></i>
              Payments
            </a>
            <ul
              id="payment"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="{% url 'payment_form' %}" class="sidebar-link">Payment Form</a>
              </li>
              <li class="sidebar-item">
                <a href="{% url 'payment_list' %}" class="sidebar-link">Payment List</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed"
              data-bs-target="#trans"
              data-bs-toggle="collapse"
              aria-expanded="false"
              ><i class="fas fa-exchange-alt pe-2"></i>
              Transaction
            </a>
            <ul
              id="trans"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Transaction </a>
              </li>
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Add Transation</a>
              </li>
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Transaction Details</a>
              </li>
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Transaction List</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed"
              data-bs-target="#user"
              data-bs-toggle="collapse"
              aria-expanded="false"
              ><i class="fa-regular fa-user pe-2"></i>
              Users
            </a>
            <ul
              id="user"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Add User</a>
              </li>
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">User List</a>
              </li>
             
            </ul>
          </li>
        </ul>
      </div>
    </aside>
  <div class="main">
      <nav class="navbar navbar-expand px-3 border-bottom">
        <button class="btn" id="sidebar-toggle" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      <center><h4> <b>UIG</b></h4></center>
      <div class="navbar-collapse navbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
              <img
                src="https://via.placeholder.com/50"
                class="avatar img-fluid rounded"
                alt="User Avatar"
              />
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="#" class="dropdown-item">Setting</a>
              <a href="{% url 'logout' %}" class="btn btn-danger dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    
    <main class="content px-3 py-2">
      <div class="">
       
        <ol class="breadcrumb">
          
          {% block breadcrumb %}
          <!-- Breadcrumb items go here -->
          {% endblock %}
        </ol>

        {% block content %}
      
        {% endblock %}
      
      </div>
    </main>
    <a href="#" class="theme-toggle">
      <i class="fa-regular fa-moon"></i>
      <i class="fa-regular fa-sun"></i>
    </a>
        
       
      
      <footer class=" footer app-footer second mt-10 text-white bg-dark" style="height: 4opx;">
        <!-- Footer content goes here -->
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <p>UIG &copy; 2024 All Rights Reserved.</p>
            </div>
            <div class="col-md-5 text-end">
              <p>Developed by JPJ Developers</p>
            </div>
          </div>
        </div>
      </footer>
   </div>
   </div>
   
     
      <!-- Bootstrap and necessary plugins -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>

      <!-- AdminLTE main scripts -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/js/adminlte.min.js"></script>

      <!-- Bootstrap JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>

      <script src="{% static 'js/script.js' %}"></script>
     
    </div>
   
  </body>
</html>