{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'debtor_list' %}">Debtors</a></li>
    <li class="breadcrumb-item active">Debtor Details</li>
{% endblock breadcrumb %}

{% block content %}
    <style>
        /* Custom styles */
        .card-header {
            background-color: #007bff; /* Blue header */
            color: #fff; /* White text */
        }
        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }
        .card {
            overflow-x: auto;
        }
    </style>
    
    <div class="container-fluid">
        <div class="animated fade-in">
            <div class="row">
                <div class="col-md-6">
                    <!-- Debtor Information Card -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>Debtor Information</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th class="w-25">Name:</th>
                                        <td>{{ debtor.name }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-25">Phone:</th>
                                        <td>{{ debtor.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-25">Email:</th>
                                        <td>{{ debtor.email }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-25">Address:</th>
                                        <td>{{ debtor.address }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-25">Unique ID:</th>
                                        <td>{{ debtor.unique_id }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-25">Notes:</th>
                                        <td>{{ debtor.notes | truncatechars:30 }}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-25">Outstanding Balance:</th>
                                        <td>
                                            <span id="outstanding-balance">{{ debtor.get_remaining_balance }}</span>
                                            {{ debtor.debt_currency }} <!-- Display debtor currency -->
                                            <input type="number" id="new-balance-input" class="form-control d-none" />
                                        </td>
                                    </tr>
                                    <!-- Remove row for debtor currency -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Add Transaction Button -->
                    <a href="{% url 'add_transaction' %}" class="btn btn-primary">Add Transaction</a>
                </div>
                <div class="col-md-6">
                    <!-- Transaction History Card -->
                    <div class="card">
                        <div class="card-header">
                            <strong>Transaction History</strong>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-outline mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Date</th>
                                            <th>Outstanding Balance</th>
                                            <th>Amount Paid</th>
                                            <th>Converted Amount</th>
                                            <th>Exchange Rate</th>
                                            <th>Remaining Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for transaction in debtor.transaction_set.all %}
                                            <tr>
                                                <td>{{ transaction.date }}</td>
                                                <td>
                                                    {% if forloop.first %}
                                                        {{ debtor.initial_balance }} {{ debtor.debt_currency }}
                                                    {% else %}
                                                        {{ transaction.outstanding_balance_before }} {{ debtor.debt_currency }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ transaction.amount }} {{ transaction.currency }}</td>
                                                <td>
                                                    {% if transaction.converted_amount is not None %}
                                                        {{ transaction.converted_amount }} {{ debtor.debt_currency }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if transaction.currency != debtor.debt_currency %}
                                                        {{ transaction.exchange_rate }} (1 {{ transaction.currency }} = {{ transaction.exchange_rate }} {{ debtor.debt_currency }})
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if forloop.first %}
                                                        {{ debtor.get_remaining_balance }} {{ debtor.debt_currency }}
                                                    {% else %}
                                                        {% if transaction.remaining_balance is not None %}
                                                            {{ transaction.remaining_balance }} {{ debtor.debt_currency }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="6">No Transaction history available.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
